@media (max-width: 1100px) {
  .topHolder {
    h2 {
      font-size: 20px;
      line-height: 32px;
    }

    select {
      max-height: 50px;
    }
  }
}

.card {
  p {
    font-size: clamp(10px, 1vw, 16px);
    font-weight: 500;
  }
}