.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .content {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
  }

  .closeButton {
    position: absolute;
    top: -5px;
    right: -5px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: gray;
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
  }

  .header {
    padding: 20px;
  }

  .buttonsHolder {
    display: flex;
    justify-content: flex-end;
    background: var(--green-color);
    padding: 10px;
    gap: 10px;
    border-radius: 0 0 8px 8px;
  }
}
